<div class="container-fluid">
    <div class="social-dash-wrap mb-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title"><%- __('about-menu-title') %></h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard"><i class="las la-home"></i>Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%- __('about-menu-title') %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-5">

                        <h2 class="mb-4">Website Sistem Reservasi Wisata Camping Muarambaduk</h2>
                        <p>Sebuah platform online yang dirancang untuk memudahkan pengguna dalam melakukan reservasi untuk pengalaman berkemah di kawasan wisata Muarambaduk, Banyuwangi. Website ini menawarkan kemudahan dan kenyamanan bagi pengguna untuk merencanakan perjalanan camping mereka dengan mudah dan efisien.</p><p>Berikut adalah beberapa fitur utama yang dapat ditemukan dalam website sistem reservasi wisata camping di Muarambaduk, Banyuwangi:</p><ol><li><p>Pencarian dan Pemilihan Tempat Camping: Pengguna dapat mencari dan memilih tempat camping yang tersedia di kawasan Muarambaduk. Website ini menyediakan informasi lengkap tentang setiap tempat camping, termasuk fasilitas yang disediakan, peta lokasi, dan ulasan pengguna sebelumnya.</p></li><li><p>Kalender Ketersediaan: Pengguna dapat melihat ketersediaan tempat camping pada tanggal yang diinginkan melalui kalender ketersediaan. Ini memungkinkan pengguna untuk merencanakan perjalanan mereka dengan memilih tanggal yang tersedia sesuai preferensi mereka.</p></li><li><p>Reservasi Online: Pengguna dapat melakukan reservasi langsung melalui website dengan memilih tanggal dan tempat camping yang diinginkan. Mereka dapat mengisi informasi pribadi, jumlah pengunjung, dan detail lainnya yang diperlukan untuk menyelesaikan proses reservasi.</p></li><li><p>Pembayaran Secara Online: Website ini menyediakan opsi pembayaran secara online, sehingga pengguna dapat melakukan pembayaran langsung melalui platform dengan aman dan nyaman. Berbagai opsi pembayaran transfer bank, atau metode pembayaran dengan cara cash (tunai).</p></li><li><p>Pengelolaan Reservasi: Pengguna yang telah melakukan reservasi dapat mengakses halaman pengelolaan reservasi untuk melihat dan mengelola detail reservasi mereka. Mereka dapat memeriksa status pembayaran atau membatalkan reservasi jika diperlukan.</p></li><li><p>Informasi Wisata dan Panduan: Website ini juga menyediakan informasi yang berguna tentang tempat wisata di sekitar Muarambaduk, Banyuwangi. Pengguna dapat menemukan panduan perjalanan, tips berkemah, dan informasi lainnya yang membantu mereka merencanakan dan mengoptimalkan pengalaman berkemah mereka.</p></li></ol><p>Website sistem reservasi wisata camping di Muarambaduk, Banyuwangi memberikan kemudahan, transparansi, dan aksesibilitas bagi para pengguna yang ingin menjelajahi pesona alam Muarambaduk. Dengan memanfaatkan teknologi dan kenyamanan online, pengguna dapat dengan mudah merencanakan dan memesan perjalanan camping mereka dengan cepat dan efisien.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>